<html>
    <%- include("./partials/header.ejs") %>

    <body>
        <h1 style="color:white;text-align: center;">Oops, are you lost ? Daffodil police is here to rescue you.</h1>
    <div class="not-found content">
        <p>Page not Found</p>
    </div>
    <%- include("./partials/footer.ejs") %>

    </body>
</html>