<head>
    <title> <%= title %> | By <%= admin %></title>
    <style>
        body {
            background-color: #171717;
            color:white;
        }
        a{
            color:white;
        }
        div.post{
            border: 1px solid white;
            border-radius: 10px;
        }
    </style>
</head>